*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.web{
    font-size: 20px;
}
.container{
    max-width: 900px;
    margin:0 auto;
}
.box{
    max-width: 600px;
    padding: 20px;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 3px 5px;
    border-radius: 10px; 

}
.box-siz{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    margin-top: 30px;
}
.content{
    display: flex;
    flex-direction: column;
    gap:5px;
}
label{
    font-size: 15px;
}
input,select,textarea{
    padding: 6px 10px;
    border:1px solid;
    border-radius: 4px;
    font-size: 15px;
}
input,select,textarea:focus{
    outline-color: red;
}
.btn{
    display: flex;
    justify-content: end;
}
.btn1{
    padding:5px 8px;
    transition: 0.3s ease-in;
}
.btn1:hover{
    background-color: green;
    color:white;
    transition: 0.3s ease-out;
}
.link{
    text-decoration: none;
}
.box{
    background-color: aqua;
}
.container1{
    max-width: 900px;
    margin:0 auto;
}
.box1{
    max-width: 600px;
    margin:0 auto;
    background-color: cornflowerblue;
    padding:20px;
    margin-top: 50px;
    box-shadow: 3px 4px 5px;
    border-radius: 10px;
}
.det{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}
.cnt1{
    display: flex;
    flex-direction: column;
    gap:4px;
}
.cn{
    margin-top:20px;
    display: flex;
    justify-content: end;
}
.cnn{
    padding:5px 10px;
}
.cnn:hover{
    background-color: green;
    color:white;
    transition: 0.3s;
}